
@media only screen and (max-width: 768px) {
   
    html {
    margin: -0px;
    padding: -0px;
    overflow-x:hidden;
    overflow-y: scroll;
}

body {

    background-repeat: no-repeat;
    background-size: 100%;
   margin : 0;
    padding: 0px;
    font-family: 'PT Sans', sans-serif; 
    color: white;
    margin:0;
  display:flex;
    overflow-x: hidden;
    overflow-y: scroll;
  flex-wrap:wrap;
  justify-content:center;

    }

.section {
    height: 100vh;
    }
    
    .btn {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
    margin-top: 10vw;
}
    
    .btn2 {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
}

    
     .btn3 {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
    margin-top: 10vw;
}

    
    hr{
   
    border: 0;
    border-bottom: 4px dashed #ffffff;
    background: #ffffff;
    width: 90%;
    margin-top: 3%;
}
    
.aligna{
    
     display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}    
    
    .alignamarg2 {
    
    margin-left: 6vw;
    margin-top: 0.5vw;
    font-size: 20px;
}
    
    
    .alignamarg3 {
    
    margin-left: 6vw;
    margin-top: -0.7vw;
    margin-top: -6vw;
    font-size: 20px;
}

    
    
   #item1{
    width:100vw; height:100vh;
    margin: 0px;
    background: #ffc41a;;  
    float: left;
       display: inline-block;
    } 
    
    .h1item1{
    
    margin-left: 7vw;
    margin-top: 20vw;
    line-height: 170%;
    letter-spacing: 1px;
    font-size: 130%;
    margin-bottom: 22vw;    
       
    }
    
    #item2{
    width:100vw; height:100vh;
    margin: 0px;
    background:#ff7b0f;  
    float: left;
    display: inline-block;
}

#item3{
    width:100vw; height:100vh;
    margin: 0px;
    background:#ea4335;  
    float: left;
    display: inline-block;
}

#item4{
    width:100vw; height:100vh;
    margin: 0px;
    background:#303030;  
    float: left;
    display: inline-block;
}

#item5{
    width:100vw; height:100vh;
    margin: 0px;
    background:#0092ff;  
    float: left;
    display: inline-block;
}

#item6{
    width:100vw; height:100vh;
    margin: 0px;
    background:#7d4297;  
    float: left;
    display: inline-block;
}
 
    
    .img1{
    margin-left: 28.5vw;
    margin-top: 0vw;
    margin-bottom: 100vw;
    width: 50%;    
}
    
    .img2{
    
margin-left: -26.5vw; 
    margin-top: 1vw;
    margin-bottom: 5vw;
    width: 150%;
}
    
    .img3 {
    margin-left: 2vw;
    margin-top: 10vw;
    margin-bottom: 13vw;
    width: 95%;    
}
    
    .img4{
    
    margin-left: 7vw;
    margin-top: 10vw;
    margin-bottom: 29.5vw;
    width: 80%;
}
    
    
    .img5{
    
    margin-top: 21vw;
    margin-left: 27vw;
    margin-bottom: 28.8vw;
    width: 45%;    
}


    
}



@media only screen and (min-width: 1200px) {
  

html {
    margin: -0px;
    padding: -0px;
}

body {

    background-repeat: no-repeat;
    background-size: 100%;
   margin : 0;
    padding: 0px;
    font-family: 'PT Sans', sans-serif; 
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
     margin:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

    }

.section {height: 100vh;}
    
/* frontpage */ 
    
hr{
   
    border: 0;
    border-bottom: 5px dashed #ffffff;
    background: #ffffff;
    width: 75%;
    margin-top: 3%;
}

p, b{
    letter-spacing: 1px;
}



.aligna{
    
     display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.alignamarg {
    
    margin-left: 4.3vw;
    margin-top: -0.4vw;
    font-size: 20px;
}

.alignamarg3 {
    
    margin-left: 4.3vw;
    margin-top: -0.7vw;
    margin-top: -0.7vw;
    font-size: 20px;
}

.alignamarg2 {
    
    margin-left: 4.3vw;
    margin-top: 0.5vw;
    font-size: 20px;
}

.item1butmarg{
    margin-top: 5vw;
    margin-bottom: -1vw;
}


 .btn {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
}

.btn:hover {color: #0092ff;}
    
    .btn4 {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
}

.btn4:hover {color: #303030;}

.btn2 {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 20px;
     letter-spacing: 1px;
    cursor: pointer;
    margin-left: 4vw; 
}

.btn2:hover {color: #ffc41a;}

.img1{
    margin-left: 11.3vw;
    margin-top: 5vw;
    margin-bottom: -2.2vw;
}

.img2{
    
margin-left: -4.5vw; 
    margin-top: -2vw;
    margin-bottom: -6.9vw;
    
    
    
}

.img3 {
    margin-left: 4vw;
    margin-top: 2vw;
    margin-bottom: -5.7vw;
}

.img4{
    
    margin-left: 5.3vw;
    margin-top: 1.8vw;
    margin-bottom: -3vw;
}

.img5{
    
    margin-top: 4vw;
    margin-left: 11vw;
    margin-bottom: 3vw;
}

#item1{
    width:33.333vw; height:50vh;
    margin: 0px;
    background: #ffc41a;;  
    float: left;
    display: inline-block;
}
.h1item1{
    
    margin-left: 4.5vw;
    margin-top: 4.1vw;
    line-height: 180%;
    letter-spacing: 2px;
    }

.contactmarg{
    
    margin-left: -19vw;
    
}



#item2{
    width:33.333vw; height:50vh;
    margin: 0px;
    background:#ff7b0f;  
    float: left;
    display: inline-block;
}

#item3{
    width:33.333vw; height:50vh;
    margin: 0px;
    background:#ea4335;  
    float: left;
    display: inline-block;
}

#item4{
    width:33.333vw; height:50vh;
    margin: 0px;
    background:#303030;  
    float: left;
    display: inline-block;
}

#item5{
    width:33.333vw; height:50vh;
    margin: 0px;
    background:#0092ff;  
    float: left;
    display: inline-block;
}

#item6{
    width:33.333vw; height:50vh;
    margin: 0px;
    background:#7d4297;  
    float: left;
    display: inline-block;
}
    
    
/* aboutpage */ 

#item8about{
    width:100vw; height:100vh;
    margin: 0px;
    background:#0092ff;  
    float: left;
    display: inline-block;
    position: absolute;
   
}
    
    #item7about{
     width:15vw; height:10vh;
    margin-top: 28vw;
    margin-left: 3vw;
    background:#0092ff;  
    float: left;
    display: inline-block;
    position: relative;
    line-height: 3vh; 
    font-size: 18px;
    z-index: 70;
   
    }
    
  

    
    .imgme{
        
        margin-left: -16vw;
        margin-top: 3vw;
        margin-bottom: 22vw;
        border-radius: 500px;
        position: relative;
        z-index: 20;
    }    
    
    #infobox{
    width:80vw; height:100vh;
    margin: 0px;
    background:#ff7b0f;
    position: relative;
    z-index: 10;  
     margin-top: 0vh;
     margin-left: 20vw; 
    border-radius: 0px;
    box-shadow: 0 0 0 0 #666;
    
}
    
    
    .homebut2 {
        
        position: relative;
        margin-left: -23vw;8
    
        z-index: 30; 
    }
    
    .aboutext2 {
        
        width: 30vw;
        height: 20vw;
    }
    
    .infoh1 {
      
        text-align: justify;
        letter-spacing: 2px;
        margin-left: 10vw;
        margin-top: 4vw;
        
       
    }    
    
    .infop {
        
        letter-spacing: 2px;
        text-align: center;
        line-height: 5vh;
        font-size: 20px;
        width: 70%;
        margin-left: 10vw;
        text-align:justify
    }
    
    .aboutimg2{
        
        position: relative;
        z-index: 40;
        margin-left: 62vw;
        margin-top: -14vw;
    
    }
    
    
    .textwidth{
        margin-top: 1vw;
        width: 40vw;
    }
    
    .textwidth2{
        margin-top: 10vw;
        width: 40vw;
        text-align: justify;
        margin-left: 18vw;
}
    
    .lal{
        
        margin-left: 10vw;
        margin-top: 6vw;
    }
    
    .lal1 {
        
        font-size: 25px;
        margin-bottom: 0.5vw;
        text-align: justify;
        letter-spacing: 2px;
    }
    
    .clienttext{
     text-align: justify;
    }
    
    /* Clientspage*/
    
    #item5about{
    width:100vw; height:100vh;
    margin: 0px;
    background:#ffc41a;  
    float: left;
    display: inline-block;
    position: absolute;
   
}
    
    #item4about{
     width:15vw; height:10vh;
    margin-top: 28vw;
    margin-left: 3vw;
    background:#ffc41a;  
    float: left;
    display: inline-block;
    position: relative;
    line-height: 3vh; 
    font-size: 18px;
    z-index: 70;
   
    }
    
  

    
    .imgme9{
        
        margin-left: -9vw;
        margin-top: 3vw;
        margin-bottom: 33vw;
        
        position: relative;
        z-index: 3030303;
    }    
    
    #infobox1{
    width:80vw; height:100vh;
    margin-top: -3vw;
    background:#303030;
    position: relative;
    z-index: 10;  
     margin-top: -2.1vh;
     margin-left: 20vw; 
    border-radius: 0px;
 
    
}
    
    
    .homebut2 {
        
        position: relative;
        margin-left: -23vw;
    
        z-index: 30; 
    }
    
     .homebut3 {
        
        position: relative;
        margin-left: -26.5vw;
        z-index: 30; 
    }
    
    .aboutext2 {
        
        width: 30vw;
        height: 20vw;
    }
    
    .infoh1 {
      
        text-align: justify;
        letter-spacing: 2px;
        margin-left: 10vw;
        margin-top: 4vw;
        
       
    }    
    
    .infop {
        
        letter-spacing: 2px;
        text-align: center;
        line-height: 5vh;
        font-size: 20px;
        width: 70%;
        margin-left: 10vw;
        text-align:justify
    }
    
    .aboutimg2{
        
        position: relative;
        z-index: 40;
        margin-left: 62vw;
        margin-top: -14.5vw;
    
    }
    
    
    .textwidth{
        margin-top: 1vw;
        width: 40vw;
    }
    
    .textwidth2{
        margin-top: 10vw;
        width: 40vw;
        text-align: justify;
        margin-left: 18vw;
}
    
    .lal{
        
        margin-left: 10vw;
        margin-top: 6vw;
    }
    
    .lal4 {
        
        font-size: 25px;
        margin-bottom: 0.5vw;
        text-align: justify;
        letter-spacing: 2px;
        margin-top: -5vh;
    }
    
    .clienttext{
     text-align: justify;
    margin-top: 0vh;    
       
    }
    
    



   
}

